[
    { "address": "cosmos1g4ve6uxpcccechgjwuyhalhj3qd44zsfjv2lhc", "share": 0.3, "primary": true },
    { "address": "cosmos12tdulmvjmsmpaqrpshz0emu0h9sqz5x5yyczy7", "share": 0.1, "primary": false },
    { "address": "cosmos12tdulmvjmsmpaqrpshz0emu0h9sqz5x5yyczy7", "share": 0.1 }
]