{
  "@type": "\/cosmos.distribution.v1beta1.MsgWithdrawDelegatorReward",
  "delegator_address": "<!#DELEGATOR_ADDRESS>",
  "validator_address": "<!#VALIDATOR_ADDRESS>"
},
{
  "@type": "\/cosmos.staking.v1beta1.MsgDelegate",
  "delegator_address": "<!#DELEGATOR_ADDRESS>",
  "validator_address": "<!#VALIDATOR_ADDRESS>",
  "amount": {
    "denom": "<!#DENOM>",
    "amount": "<!#AMOUNT>"
  }
}